@CHARSET "UTF-8";
.pushmenu>.pb-c {
	background-color: white;
	    height: initial;
}
#pushmenu {
    margin: 0;
}
#aside {
	margin: 0;
	width: inherit;
}

#aside>.well {
	margin: 0;
	background-color: white;
}

.pushmenu #login-form {
	width: 300px;
	margin-left: 50px;
	margin-top: 20px;
}

.pushmenu input#modlgn-passwd, .pushmenu input#modlgn-username {
	width: 175px;
}